:root {
    --onyx: #0d0a0b;
    --charcoal-blue: #454955;
    --lavender-mist: #f3eff5;
    --lime-moss: #72b01d;
    --green: #3f7d20;

    --text: var(--charcoal-blue);
    --text-h: var(--onyx);
    --bg: var(--lavender-mist);
    --border: var(--charcoal-blue);
    --code-bg: #ffffff;
    --accent: var(--green);
    --accent-bg: rgba(114, 176, 29, 0.1);
    --accent-border: var(--lime-moss);
    --social-bg: rgba(255, 255, 255, 0.5);
    --shadow: rgba(13, 10, 11, 0.1) 0 10px 15px -3px, rgba(13, 10, 11, 0.05) 0 4px 6px -2px;

    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;

    color-scheme: light;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

body {
    margin: 0;
    background-color: var(--lavender-mist);
    background-image: linear-gradient(rgba(243, 239, 245, 0.2), rgba(243, 239, 245, 0.6)), url('/bg-texture.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#root {
    width: 1126px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
